# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.slnx
*.sw?
*.env
*.vs/

/backend/Bixa.Backend/bin
/backend/Bixa.Backend/obj
/backend/Bixa.Backend.DataAccess/obj
/backend/Bixa.Backend.DataAccess/bin
/backend/Bixa.Backend.Services/obj
/backend/Bixa.Backend.Services/bin
/backend/Bixa.Backend.Models/obj
/backend/Bixa.Backend.Models/bin
backend/Bixa.Backend.DataAccess/Migrations
