# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.slnx
*.sw?
*.env
*.vs/
backend/IntranetCorp.API/bin/
backend/IntranetCorp.API/obj/
backend/IntranetCorp.Application/bin/
backend/IntranetCorp.Application/obj/
backend/IntranetCorp.Domain/bin/
backend/IntranetCorp.Domain/obj/
backend/IntranetCorp.Infrastructure/bin/
backend/IntranetCorp.Infrastructure/obj/
backend/IntranetCorp.Presentation/bin/
backend/IntranetCorp.Presentation/obj/
backend/IntranetCorp.Presentation/bin/